<div id="workers">
<h1>Funcionários Cadastrados</h1>


    <div id="content_workers">
      <ol>
      <% @workers.each do |worker| %>
          <li>
          <h3><%= worker.nome %> - <%= worker.telefone %></h3> 
          <%= link_to 'Exibir', worker %> |
          
          <% if can? :update, @workers %>
            <%= link_to 'Editar', edit_worker_path(worker) %> |
            <%= link_to 'Excluir', worker, method: :delete, data: { confirm: 'Tem certeza?' } %>
          <%end %>
          </li>
      <% end %>
      </ol>
    </div><!--Fecha div workers-->
    <% if can? :update, @workers %>
      <%= link_to 'Novo Funcionário', new_worker_path %>
    <% end %>

</div>