<h1>Exibindo Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Preco</th>
      <th>Quantidade</th>
      <th>Validade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.nome %></td>
        <td><%= product.categoria %></td>
        <td><%= product.preco %></td>
        <td><%= product.quantidade %></td>
        <td><%= product.validade %></td>
        <td><%= link_to 'Exibir', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Novo Produto', new_product_path %>
